.advantages {
    border-bottom: 1px var(--color-line-grey) solid;
    padding: 80px 0;
    margin-bottom: 65px;
}

.advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.advantages__list-icon {
    width: 64px;
    height: 64px;
}

.advantages__list-icon > img {
    width: 100%;
    height: 100%;
}

.advantages__list-item {
    color: var(--color-black);
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

@media (max-width: 1200px) {
    .advantages__list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .advantages__list {
        flex-direction: column;
        align-items: baseline;
    }

    .advantages__list-item {
        font-size: 18px;
    }

    .advantages__list-icon {
        width: 48px;
        height: 48px;
    }

    .advantages {
        padding: 0 0 48px 0;
    }
}