.functionality {
    border-bottom: 1px var(--color-line-grey) solid;
    margin-bottom: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 65px;
}

.functionality:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.functionality > div {
    width: 50%;
}

.functionality > div:first-child {
    padding-left: 120px;
}

.functionality_reverse > div:first-child {
    order: 2;
    padding-left: 0;
    padding-right: 120px;
}

.functionality__report-image > img {
    width: 100%;
    height: 100%;
}

.functionality__title {
    color: var(--color-black);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 24px 0;
}

.functionality__description {
    color: var(--color-text-light);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

@media (max-width: 1400px) {
    .functionality > div:first-child {
        padding-left: 0px;
    }

    .functionality_reverse > div:first-child {
        padding-right: 0px;
    }
}

@media (max-width: 900px) {
    .functionality {
        flex-direction: column;
        margin-bottom: 48px;
        padding-bottom: 48px;
    }

    .functionality > div {
        width: 100%;
    }

    .functionality > div:last-child {
        order: -1;
    }

    .functionality__title {
        font-size: 32px;
    }
}