:root {
    --color-bg: #16171D;
    --color-bg-medium: #1E1F29;
    --color-bg-light: #2E2D3D;
    --color-bg-primary: #6C38CC;
    --color-bg-primary-hover: #5c1ad9;
    --color-text: #FAFAFA;
    --color-link-hover: #AFB2BF;
    --color-stroke: #4D5064;
    --color-footer: #101114;
    --color-pink: #E47AD5;
    --border-8: 8px;
    --border-10: 10px;
    --layout-width: 1172px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}